# IDE/editor settings
.vscode/

# Environment/config
.env

# Python artifacts
*.pyc
__pycache__/

# Build/dist outputs
dist/
*.whl
*.tar.gz
winix_api.egg-info/
PKG-INFO

# Coverage/test files
.coverage
coverage.xml
.pytest_cache/

# Misc
*.txt
